# importing libraries

In [1]:
### https://www.goal.com/en/news/fifa-player-ratings-explained-how-are-the-card-number--stats-decided/1hszd2fgr7wgf1n2b2yjdpgynu  ___fifa link introduce how atributes of players taken ###

In [2]:
import pandas as pd
import numpy as px
import plotly.express as px
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from category_encoders import BinaryEncoder
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler, OrdinalEncoder
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LogisticRegression

# Read data

In [3]:
df15 = pd.read_csv("F:\AI corse\\final project\sources\players_15.csv")

C:\Users\HP.SXS04\AppData\Local\Temp\ipykernel_1344\3321822958.py:1: DtypeWarning: Columns (104) have mixed types. Specify dtype option on import or set low_memory=False.
  df15 = pd.read_csv("F:\AI corse\\final project\sources\players_15.csv")

In [4]:
df16 = pd.read_csv("F:\AI corse\\final project\sources\players_16.csv")

C:\Users\HP.SXS04\AppData\Local\Temp\ipykernel_1344\1907900780.py:1: DtypeWarning: Columns (104) have mixed types. Specify dtype option on import or set low_memory=False.
  df16 = pd.read_csv("F:\AI corse\\final project\sources\players_16.csv")

In [5]:
df17 = pd.read_csv("F:\AI corse\\final project\sources\players_17.csv")

In [6]:
df18 = pd.read_csv("F:\AI corse\\final project\sources\players_18.csv")

C:\Users\HP.SXS04\AppData\Local\Temp\ipykernel_1344\270566522.py:1: DtypeWarning: Columns (81,82,83,84,85) have mixed types. Specify dtype option on import or set low_memory=False.
  df18 = pd.read_csv("F:\AI corse\\final project\sources\players_18.csv")

In [7]:
df19 = pd.read_csv("F:\AI corse\\final project\sources\players_19.csv")

In [8]:
df20 = pd.read_csv("F:\AI corse\\final project\sources\players_20.csv")

In [9]:
df21 = pd.read_csv("F:\AI corse\\final project\sources\players_21.csv")

In [10]:
df22 = pd.read_csv("F:\AI corse\\final project\sources\players_22.csv")

C:\Users\HP.SXS04\AppData\Local\Temp\ipykernel_1344\363958674.py:1: DtypeWarning: Columns (25,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df22 = pd.read_csv("F:\AI corse\\final project\sources\players_22.csv")

# Compine the data

In [11]:
df =pd.concat([df15,df16,df17,df18,df19,df20,df21,df22])

In [12]:
df.shape

(142079, 110)

In [13]:
df.reset_index(inplace =True)

In [14]:
df.drop('index' , axis = 1 , inplace= True)

# Data summary report

# Data first look

In [15]:
df

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,CF,93,95,100500000.0,550000.0,27,...,45+3,45+3,45+3,54+3,15+3,https://cdn.sofifa.net/players/158/023/15_120.png,https://cdn.sofifa.net/teams/241/60.png,https://cdn.sofifa.net/flags/es.png,https://cdn.sofifa.net/teams/1369/60.png,https://cdn.sofifa.net/flags/ar.png
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,"LW, LM",92,92,79000000.0,375000.0,29,...,52+3,52+3,52+3,57+3,16+3,https://cdn.sofifa.net/players/020/801/15_120.png,https://cdn.sofifa.net/teams/243/60.png,https://cdn.sofifa.net/flags/es.png,https://cdn.sofifa.net/teams/1354/60.png,https://cdn.sofifa.net/flags/pt.png
2,9014,https://sofifa.com/player/9014/arjen-robben/15...,A. Robben,Arjen Robben,"RM, LM, RW",90,90,54500000.0,275000.0,30,...,46+3,46+3,46+3,55+3,14+3,https://cdn.sofifa.net/players/009/014/15_120.png,https://cdn.sofifa.net/teams/21/60.png,https://cdn.sofifa.net/flags/de.png,https://cdn.sofifa.net/teams/105035/60.png,https://cdn.sofifa.net/flags/nl.png
3,41236,https://sofifa.com/player/41236/zlatan-ibrahim...,Z. Ibrahimović,Zlatan Ibrahimović,ST,90,90,52500000.0,275000.0,32,...,55+3,55+3,55+3,56+3,17+3,https://cdn.sofifa.net/players/041/236/15_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,https://cdn.sofifa.net/teams/1363/60.png,https://cdn.sofifa.net/flags/se.png
4,167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,Manuel Peter Neuer,GK,90,90,63500000.0,300000.0,28,...,38+3,38+3,38+3,36+3,87+3,https://cdn.sofifa.net/players/167/495/15_120.png,https://cdn.sofifa.net/teams/21/60.png,https://cdn.sofifa.net/flags/de.png,https://cdn.sofifa.net/teams/1337/60.png,https://cdn.sofifa.net/flags/de.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142074,261962,https://sofifa.com/player/261962/defu-song/220002,Song Defu,宋德福,CDM,47,52,70000.0,1000.0,22,...,46+2,46+2,46+2,48+2,15+2,https://cdn.sofifa.net/players/261/962/22_120.png,https://cdn.sofifa.net/teams/112541/60.png,https://cdn.sofifa.net/flags/cn.png,NaN,https://cdn.sofifa.net/flags/cn.png
142075,262040,https://sofifa.com/player/262040/caoimhin-port...,C. Porter,Caoimhin Porter,CM,47,59,110000.0,500.0,19,...,44+2,44+2,44+2,48+2,14+2,https://cdn.sofifa.net/players/262/040/22_120.png,https://cdn.sofifa.net/teams/445/60.png,https://cdn.sofifa.net/flags/ie.png,NaN,https://cdn.sofifa.net/flags/ie.png
142076,262760,https://sofifa.com/player/262760/nathan-logue/...,N. Logue,Nathan Logue-Cunningham,CM,47,55,100000.0,500.0,21,...,45+2,45+2,45+2,47+2,12+2,https://cdn.sofifa.net/players/262/760/22_120.png,https://cdn.sofifa.net/teams/111131/60.png,https://cdn.sofifa.net/flags/ie.png,NaN,https://cdn.sofifa.net/flags/ie.png
142077,262820,https://sofifa.com/player/262820/luke-rudden/2...,L. Rudden,Luke Rudden,ST,47,60,110000.0,500.0,19,...,26+2,26+2,26+2,32+2,15+2,https://cdn.sofifa.net/players/262/820/22_120.png,https://cdn.sofifa.net/teams/111131/60.png,https://cdn.sofifa.net/flags/ie.png,NaN,https://cdn.sofifa.net/flags/ie.png
142078,264540,https://sofifa.com/player/264540/emanuel-lalch...,E. Lalchhanchhuaha,Emanuel Lalchhanchhuaha,CAM,47,60,110000.0,500.0,19,...,41+2,41+2,41+2,45+2,16+2,https://cdn.sofifa.net/players/264/540/22_120.png,https://cdn.sofifa.net/teams/113040/60.png,https://cdn.sofifa.net/flags/in.png,NaN,https://cdn.sofifa.net/flags/in.png

In [16]:
df.columns

Index(['sofifa_id', 'player_url', 'short_name', 'long_name',
       'player_positions', 'overall', 'potential', 'value_eur', 'wage_eur',
       'age',
       ...
       'lcb', 'cb', 'rcb', 'rb', 'gk', 'player_face_url', 'club_logo_url',
       'club_flag_url', 'nation_logo_url', 'nation_flag_url'],
      dtype='object', length=110)

In [17]:
df.describe()

,sofifa_id,overall,potential,value_eur,wage_eur,age,height_cm,weight_kg,club_team_id,league_level,...,mentality_composure,defending_marking_awareness,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,goalkeeping_speed
count,142079.000000,142079.000000,142079.000000,1.401820e+05,140457.000000,142079.000000,142079.000000,142079.000000,140449.000000,140064.000000,...,110301.000000,142079.000000,142079.000000,142079.000000,142079.000000,142079.000000,142079.000000,142079.000000,142079.000000,15791.000000
mean,211625.235095,65.706121,70.726335,2.268820e+06,11113.728045,25.117125,181.206470,75.247911,44486.178762,1.378584,...,57.787572,45.664278,47.607402,45.649913,16.542874,16.289346,16.149185,16.297947,16.654221,39.531505
std,34846.473490,7.064665,6.271695,5.779823e+06,22251.563020,4.659230,6.734544,6.997585,53281.055198,0.748417,...,12.375479,20.456693,21.352377,20.963372,17.679880,16.829113,16.454171,16.991869,17.985856,10.434840
min,2.000000,40.000000,40.000000,1.000000e+03,500.000000,16.000000,154.000000,49.000000,1.000000,1.000000,...,3.000000,1.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,12.000000
25%,196142.000000,61.000000,66.000000,3.000000e+05,2000.000000,21.000000,176.000000,70.000000,449.000000,1.000000,...,50.000000,25.000000,26.000000,25.000000,8.000000,8.000000,8.000000,8.000000,8.000000,32.000000
50%,216393.000000,66.000000,70.000000,7.000000e+05,4000.000000,25.000000,181.000000,75.000000,1887.000000,1.000000,...,59.000000,50.000000,54.000000,52.000000,11.000000,11.000000,11.000000,11.000000,11.000000,41.000000
75%,234430.000000,70.000000,75.000000,1.800000e+06,10000.000000,28.000000,186.000000,80.000000,110799.000000,2.000000,...,66.000000,63.000000,66.000000,64.000000,14.000000,14.000000,14.000000,14.000000,14.000000,47.000000
max,264640.000000,94.000000,95.000000,1.940000e+08,575000.000000,54.000000,208.000000,110.000000,115820.000000,5.000000,...,96.000000,94.000000,94.000000,95.000000,91.000000,92.000000,95.000000,92.000000,94.000000,68.000000

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142079 entries, 0 to 142078
Columns: 110 entries, sofifa_id to nation_flag_url
dtypes: float64(17), int64(43), object(50)
memory usage: 119.2+ MB

# Clean Data

In [19]:
### [body_type , player_tags , player_traits] type mmkn nd5lo

Drop uneccessary columns

In [20]:
df = df.drop(['player_face_url','club_logo_url','club_flag_url','nation_logo_url','nation_flag_url','sofifa_id', 'player_url', 'short_name', 
              'long_name','player_positions','dob','club_team_id','club_loaned_from' ,'nationality_id', 'nationality_id' , 'nation_team_id',
              'body_type' , 'real_face' ,'player_traits' ] , axis=1)

In [21]:
df.shape

(142079, 92)

Handle missing data

In [22]:
## we have to divide the number of columns to show the missing data because they are too uch to appear

In [23]:
## get list of all columns in data frame to divide them
df.columns

Index(['overall', 'potential', 'value_eur', 'wage_eur', 'age', 'height_cm',
       'weight_kg', 'club_name', 'league_name', 'league_level',
       'club_position', 'club_jersey_number', 'club_joined',
       'club_contract_valid_until', 'nationality_name', 'nation_position',
       'nation_jersey_number', 'preferred_foot', 'weak_foot', 'skill_moves',
       'international_reputation', 'work_rate', 'release_clause_eur',
       'player_tags', 'pace', 'shooting', 'passing', 'dribbling', 'defending',
       'physic', 'attacking_crossing', 'attacking_finishing',
       'attacking_heading_accuracy', 'attacking_short_passing',
       'attacking_volleys', 'skill_dribbling', 'skill_curve',
       'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control',
       'movement_acceleration', 'movement_sprint_speed', 'movement_agility',
       'movement_reactions', 'movement_balance', 'power_shot_power',
       'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots',
       'mentality_aggression', 'mentality_interceptions',
       'mentality_positioning', 'mentality_vision', 'mentality_penalties',
       'mentality_composure', 'defending_marking_awareness',
       'defending_standing_tackle', 'defending_sliding_tackle',
       'goalkeeping_diving', 'goalkeeping_handling', 'goalkeeping_kicking',
       'goalkeeping_positioning', 'goalkeeping_reflexes', 'goalkeeping_speed',
       'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram',
       'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb',
       'lcb', 'cb', 'rcb', 'rb', 'gk'],
      dtype='object')

In [24]:
## first part of data 
df_prt1 = df[ [ 'overall', 'potential', 'value_eur', 'wage_eur', 'age', 'height_cm',
       'weight_kg', 'club_name', 'league_name', 'league_level',
       'club_position', 'club_jersey_number', 'club_joined',
       'club_contract_valid_until', 'nationality_name', 'nation_position',
       'nation_jersey_number', 'preferred_foot', 'weak_foot', 'skill_moves','international_reputation', 'work_rate', 'release_clause_eur',
       'player_tags', 'pace', 'shooting', 'passing']]

In [25]:
## get the number of the missing data (part1)
df_prt1.isnull().sum()

overall                           0
potential                         0
value_eur                      1897
wage_eur                       1622
age                               0
height_cm                         0
weight_kg                         0
club_name                      1630
league_name                    1630
league_level                   2015
club_position                  1630
club_jersey_number             1630
club_joined                    9935
club_contract_valid_until      1630
nationality_name                  0
nation_position              133635
nation_jersey_number         133635
preferred_foot                    0
weak_foot                         0
skill_moves                       0
international_reputation          0
work_rate                         0
release_clause_eur            55582
player_tags                  130765
pace                          15791
shooting                      15791
passing                       15791
dtype: int64

In [26]:
## missin percentage part(1)
df_prt1.isnull().mean()*100

overall                       0.000000
potential                     0.000000
value_eur                     1.335173
wage_eur                      1.141618
age                           0.000000
height_cm                     0.000000
weight_kg                     0.000000
club_name                     1.147249
league_name                   1.147249
league_level                  1.418225
club_position                 1.147249
club_jersey_number            1.147249
club_joined                   6.992589
club_contract_valid_until     1.147249
nationality_name              0.000000
nation_position              94.056828
nation_jersey_number         94.056828
preferred_foot                0.000000
weak_foot                     0.000000
skill_moves                   0.000000
international_reputation      0.000000
work_rate                     0.000000
release_clause_eur           39.120489
player_tags                  92.036825
pace                         11.114239
shooting                     11.114239
passing                      11.114239
dtype: float64

In [27]:
###  i found alot of missing data in following columns[value_eur,wage_eur,club_name,league_name ,league_level ,club_position,club_jersey_number
###    ,club_joined ,club_contract_valid_until,nation_position ,nation_jersey_number,,,] so i will decide how i will handle them {fill , drop }

In [28]:
df["value_eur"].describe()

count    1.401820e+05
mean     2.268820e+06
std      5.779823e+06
min      1.000000e+03
25%      3.000000e+05
50%      7.000000e+05
75%      1.800000e+06
max      1.940000e+08
Name: value_eur, dtype: float64

In [29]:
df_prt1.drop(df_prt1[df_prt1["value_eur"].isnull()].index , axis= 0 , inplace= True)

C:\Users\HP.SXS04\AppData\Local\Temp\ipykernel_1344\1646096794.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prt1.drop(df_prt1[df_prt1["value_eur"].isnull()].index , axis= 0 , inplace= True)

In [30]:
## we cant fill the missing the data so we will drop the null rows /  Note :there is a big difference between median and mean (squide data)
df.drop(df[df["value_eur"].isnull()].index , axis = 0 ,inplace =True  )

In [31]:
#df_prt1.drop(df_prt1[df_prt1["value_eur"].isnull()].index , axis = 0  )

In [32]:
df_prt1.isnull().sum()

overall                           0
potential                         0
value_eur                         0
wage_eur                          0
age                               0
height_cm                         0
weight_kg                         0
club_name                         8
league_name                       8
league_level                    393
club_position                     8
club_jersey_number                8
club_joined                    8308
club_contract_valid_until         8
nationality_name                  0
nation_position              133366
nation_jersey_number         133366
preferred_foot                    0
weak_foot                         0
skill_moves                       0
international_reputation          0
work_rate                         0
release_clause_eur            53685
player_tags                  129010
pace                          15543
shooting                      15543
passing                       15543
dtype: int64

In [33]:
## handle missing in player_tags 
df.player_tags.value_counts()

#Strength                                                                                                                          3728
#Acrobat                                                                                                                           1802
#Engine                                                                                                                            1454
#Speedster                                                                                                                         1240
#Speedster, #Acrobat                                                                                                                516
                                                                                                                                   ...
#Dribbler, #Engine, #Acrobat, #Clinical Finisher, #Complete Forward                                                                   1
#Engine, #Distance Shooter, #Strength                                                                                                 1
#Dribbler, #Playmaker, #Distance Shooter, #FK Specialist, #Acrobat, #Clinical Finisher, #Complete Midfielder, #Complete Forward       1
#Poacher, #Speedster, #Complete Forward                                                                                               1
#Engine, #Strength, #Clinical Finisher, #Complete Forward                                                                             1
Name: player_tags, Length: 162, dtype: int64

In [34]:
## i cant fill the misiing columns so i have to drop the column
df.drop("player_tags" , axis = 1 , inplace = True)

In [35]:
## i cant fill the misiing columns so i have to drop the column
df_prt1.drop("player_tags" , axis = 1 , inplace = True)

C:\Users\HP.SXS04\AppData\Local\Temp\ipykernel_1344\3170349582.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prt1.drop("player_tags" , axis = 1 , inplace = True)

In [36]:

df_prt1.isnull().sum()

overall                           0
potential                         0
value_eur                         0
wage_eur                          0
age                               0
height_cm                         0
weight_kg                         0
club_name                         8
league_name                       8
league_level                    393
club_position                     8
club_jersey_number                8
club_joined                    8308
club_contract_valid_until         8
nationality_name                  0
nation_position              133366
nation_jersey_number         133366
preferred_foot                    0
weak_foot                         0
skill_moves                       0
international_reputation          0
work_rate                         0
release_clause_eur            53685
pace                          15543
shooting                      15543
passing                       15543
dtype: int64

In [37]:
## we cant fill the columns so we will drop 
df.drop(['nation_jersey_number', "nation_position"] , axis = 1 , inplace=True)

In [38]:
df_prt1.drop(['nation_jersey_number', "nation_position"] , axis = 1 , inplace=True)

C:\Users\HP.SXS04\AppData\Local\Temp\ipykernel_1344\2869306295.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prt1.drop(['nation_jersey_number', "nation_position"] , axis = 1 , inplace=True)

In [39]:
df_prt1.isnull().sum()

overall                          0
potential                        0
value_eur                        0
wage_eur                         0
age                              0
height_cm                        0
weight_kg                        0
club_name                        8
league_name                      8
league_level                   393
club_position                    8
club_jersey_number               8
club_joined                   8308
club_contract_valid_until        8
nationality_name                 0
preferred_foot                   0
weak_foot                        0
skill_moves                      0
international_reputation         0
work_rate                        0
release_clause_eur           53685
pace                         15543
shooting                     15543
passing                      15543
dtype: int64

##############################################################################################################################################################################################

In [40]:
## handle release_clause_eur
df.release_clause_eur.describe()

count    8.649700e+04
mean     4.683635e+06
std      1.169333e+07
min      9.000000e+03
25%      5.780000e+05
50%      1.300000e+06
75%      3.500000e+06
max      3.735000e+08
Name: release_clause_eur, dtype: float64

In [41]:
df.release_clause_eur.mean()

4683635.074048811

In [42]:
## i can fill the release clauss with mean values
df.release_clause_eur.fillna(df.release_clause_eur.mean() , inplace= True)

In [43]:
df_prt1.release_clause_eur.fillna(df.release_clause_eur.mean() , inplace= True)

C:\Users\HP.SXS04\AppData\Local\Temp\ipykernel_1344\1883859345.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prt1.release_clause_eur.fillna(df.release_clause_eur.mean() , inplace= True)

In [44]:
df_prt1.isnull().sum()

overall                          0
potential                        0
value_eur                        0
wage_eur                         0
age                              0
height_cm                        0
weight_kg                        0
club_name                        8
league_name                      8
league_level                   393
club_position                    8
club_jersey_number               8
club_joined                   8308
club_contract_valid_until        8
nationality_name                 0
preferred_foot                   0
weak_foot                        0
skill_moves                      0
international_reputation         0
work_rate                        0
release_clause_eur               0
pace                         15543
shooting                     15543
passing                      15543
dtype: int64

##############################################################################################################################################################################################

In [45]:
df_prt1.isnull().sum()

overall                          0
potential                        0
value_eur                        0
wage_eur                         0
age                              0
height_cm                        0
weight_kg                        0
club_name                        8
league_name                      8
league_level                   393
club_position                    8
club_jersey_number               8
club_joined                   8308
club_contract_valid_until        8
nationality_name                 0
preferred_foot                   0
weak_foot                        0
skill_moves                      0
international_reputation         0
work_rate                        0
release_clause_eur               0
pace                         15543
shooting                     15543
passing                      15543
dtype: int64

#################################################################################################################################################################################################

In [46]:
## haandle pace , shooting ,passing
df.shooting.describe()

count    124639.000000
mean         52.185720
std          13.928307
min          14.000000
25%          42.000000
50%          54.000000
75%          63.000000
max          94.000000
Name: shooting, dtype: float64

In [47]:
df.pace.describe()

count    124639.000000
mean         68.030295
std          11.078422
min          21.000000
25%          62.000000
50%          69.000000
75%          76.000000
max          97.000000
Name: pace, dtype: float64

In [48]:
df.passing.describe()

count    124639.000000
mean         56.869656
std          10.551151
min          20.000000
25%          50.000000
50%          58.000000
75%          64.000000
max          93.000000
Name: passing, dtype: float64

In [49]:
df.pace.fillna(df.pace.mean() , inplace= True)

In [50]:
df.shooting.fillna(df.shooting.mean() , inplace= True)

In [51]:
df.passing.fillna(df.passing.mean() , inplace= True)

In [52]:
df_prt1.pace.fillna(df.pace.mean() , inplace= True)

C:\Users\HP.SXS04\AppData\Local\Temp\ipykernel_1344\3856165304.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prt1.pace.fillna(df.pace.mean() , inplace= True)

In [53]:
df_prt1.shooting.fillna(df.shooting.mean() , inplace= True)

C:\Users\HP.SXS04\AppData\Local\Temp\ipykernel_1344\2737111343.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prt1.shooting.fillna(df.shooting.mean() , inplace= True)

In [54]:
df_prt1 .passing.fillna(df.passing.mean() , inplace= True)

C:\Users\HP.SXS04\AppData\Local\Temp\ipykernel_1344\2598670331.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prt1 .passing.fillna(df.passing.mean() , inplace= True)

In [55]:
df_prt1.isnull().sum()

overall                         0
potential                       0
value_eur                       0
wage_eur                        0
age                             0
height_cm                       0
weight_kg                       0
club_name                       8
league_name                     8
league_level                  393
club_position                   8
club_jersey_number              8
club_joined                  8308
club_contract_valid_until       8
nationality_name                0
preferred_foot                  0
weak_foot                       0
skill_moves                     0
international_reputation        0
work_rate                       0
release_clause_eur              0
pace                            0
shooting                        0
passing                         0
dtype: int64

################################################################################################################################################################################################

In [56]:
## handle clube joined
df.club_joined.describe()

count         131874
unique          3705
top       2017-07-01
freq            4124
Name: club_joined, dtype: object

In [57]:
df[df['club_joined'].isnull()]

,overall,potential,value_eur,wage_eur,age,height_cm,weight_kg,club_name,league_name,league_level,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
10,88,88,46500000.0,250000.0,28,177,72,Manchester United,English Premier League,1.0,...,60+2,60+2,60+2,58+2,56+2,55+2,55+2,55+2,56+2,14+2
72,83,83,17000000.0,140000.0,28,186,79,Valencia CF,Spain Primera Division,1.0,...,62+1,62+1,62+1,57+1,55+1,57+1,57+1,57+1,55+1,14+1
159,81,81,10500000.0,110000.0,30,186,78,AC Milan,Italian Serie A,1.0,...,58+1,58+1,58+1,57+1,53+1,49+1,49+1,49+1,53+1,16+1
165,81,82,12000000.0,110000.0,27,175,66,Sporting CP,Portuguese Liga ZON SAGRES,1.0,...,59,59,59,58,50,42,42,42,50,11
187,81,83,14000000.0,130000.0,26,175,71,Real Madrid CF,Spain Primera Division,1.0,...,53+1,53+1,53+1,54+1,51+1,46+1,46+1,46+1,51+1,16+1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141765,51,65,140000.0,4000.0,21,168,66,Al Raed,Saudi Abdul L. Jameel League,1.0,...,48+2,48+2,48+2,47+2,46+2,46+2,46+2,46+2,46+2,17+2
141769,51,59,120000.0,2000.0,21,192,77,Wuhan FC,Chinese Super League,1.0,...,43+2,43+2,43+2,44+2,47+2,51+2,51+2,51+2,47+2,13+2
141771,51,64,140000.0,500.0,20,174,70,SC East Bengal FC,Indian Super League,1.0,...,35+2,35+2,35+2,41+2,39+2,34+2,34+2,34+2,39+2,15+2
141881,50,61,110000.0,500.0,22,175,59,SC East Bengal FC,Indian Super League,1.0,...,30+2,30+2,30+2,34+2,33+2,27+2,27+2,27+2,33+2,12+2
142027,48,53,70000.0,3000.0,20,172,65,Henan Songshan Longmen FC,Chinese Super League,1.0,...,30+2,30+2,30+2,33+2,32+2,29+2,29+2,29+2,32+2,15+2

In [58]:
df.drop(df[df['club_joined'].isnull()].index , axis = 0 , inplace =True)

In [59]:
df_prt1.drop(df_prt1[df_prt1['club_joined'].isnull()].index , axis = 0 , inplace =True)

C:\Users\HP.SXS04\AppData\Local\Temp\ipykernel_1344\2199519623.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prt1.drop(df_prt1[df_prt1['club_joined'].isnull()].index , axis = 0 , inplace =True)

In [60]:
df_prt1.isnull().sum()

overall                        0
potential                      0
value_eur                      0
wage_eur                       0
age                            0
height_cm                      0
weight_kg                      0
club_name                      0
league_name                    0
league_level                 385
club_position                  0
club_jersey_number             0
club_joined                    0
club_contract_valid_until      0
nationality_name               0
preferred_foot                 0
weak_foot                      0
skill_moves                    0
international_reputation       0
work_rate                      0
release_clause_eur             0
pace                           0
shooting                       0
passing                        0
dtype: int64

In [61]:
df.drop(df[df['league_level'].isnull()].index , axis = 0 , inplace = True )

In [62]:
df_prt1.drop(df_prt1[df_prt1['league_level'].isnull()].index , axis = 0 , inplace = True )

C:\Users\HP.SXS04\AppData\Local\Temp\ipykernel_1344\1496962860.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prt1.drop(df_prt1[df_prt1['league_level'].isnull()].index , axis = 0 , inplace = True )

In [63]:
## part2 of data 
df_prt2 = df[['dribbling', 'defending',
       'physic', 'attacking_crossing', 'attacking_finishing',
       'attacking_heading_accuracy', 'attacking_short_passing',
       'attacking_volleys', 'skill_dribbling', 'skill_curve',
       'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control',
       'movement_acceleration', 'movement_sprint_speed', 'movement_agility',
       'movement_reactions', 'movement_balance', 'power_shot_power','power_jumping', 'power_stamina', 'power_strength', 'power_long_shots',
       'mentality_aggression', 'mentality_interceptions','mentality_positioning', 'mentality_vision', 'mentality_penalties']]

In [64]:
## get the number of the missing data part(2)
df_prt2.isnull().sum()

dribbling                     14864
defending                     14864
physic                        14864
attacking_crossing                0
attacking_finishing               0
attacking_heading_accuracy        0
attacking_short_passing           0
attacking_volleys                 0
skill_dribbling                   0
skill_curve                       0
skill_fk_accuracy                 0
skill_long_passing                0
skill_ball_control                0
movement_acceleration             0
movement_sprint_speed             0
movement_agility                  0
movement_reactions                0
movement_balance                  0
power_shot_power                  0
power_jumping                     0
power_stamina                     0
power_strength                    0
power_long_shots                  0
mentality_aggression              0
mentality_interceptions           0
mentality_positioning             0
mentality_vision                  0
mentality_penalties               0
dtype: int64

In [65]:
### missin percentage 
df_prt2.isnull().mean()*100

dribbling                     11.304368
defending                     11.304368
physic                        11.304368
attacking_crossing             0.000000
attacking_finishing            0.000000
attacking_heading_accuracy     0.000000
attacking_short_passing        0.000000
attacking_volleys              0.000000
skill_dribbling                0.000000
skill_curve                    0.000000
skill_fk_accuracy              0.000000
skill_long_passing             0.000000
skill_ball_control             0.000000
movement_acceleration          0.000000
movement_sprint_speed          0.000000
movement_agility               0.000000
movement_reactions             0.000000
movement_balance               0.000000
power_shot_power               0.000000
power_jumping                  0.000000
power_stamina                  0.000000
power_strength                 0.000000
power_long_shots               0.000000
mentality_aggression           0.000000
mentality_interceptions        0.000000
mentality_positioning          0.000000
mentality_vision               0.000000
mentality_penalties            0.000000
dtype: float64

In [66]:
## HANDLE DRIPLING , DEFENDING , PHYSIC
df.dribbling.describe()

count    116625.000000
mean         61.894036
std          10.415119
min          22.000000
25%          56.000000
50%          63.000000
75%          69.000000
max          96.000000
Name: dribbling, dtype: float64

In [67]:
df.defending.describe()

count    116625.000000
mean         51.158268
std          16.633085
min          14.000000
25%          36.000000
50%          56.000000
75%          64.000000
max          91.000000
Name: defending, dtype: float64

In [68]:
df.physic.describe()

count    116625.000000
mean         64.860896
std           9.760671
min          27.000000
25%          59.000000
50%          66.000000
75%          72.000000
max          92.000000
Name: physic, dtype: float64

In [69]:
df.dribbling.fillna(df.dribbling.mean() , axis = 0 , inplace =True)

In [70]:
df_prt2.dribbling.fillna(df_prt2.dribbling.mean() , axis = 0 , inplace =True)

C:\Users\HP.SXS04\AppData\Local\Temp\ipykernel_1344\1304634353.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prt2.dribbling.fillna(df_prt2.dribbling.mean() , axis = 0 , inplace =True)

In [71]:
df.defending.fillna(df.defending.mean() , axis = 0 , inplace =True)

In [72]:
df_prt2.defending.fillna(df_prt2.defending.mean() , axis = 0 , inplace =True)

C:\Users\HP.SXS04\AppData\Local\Temp\ipykernel_1344\111250320.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prt2.defending.fillna(df_prt2.defending.mean() , axis = 0 , inplace =True)

In [73]:
df.physic.fillna(df.physic.mean() , axis = 0 , inplace =True)

In [74]:
df_prt2.physic.fillna(df_prt2.physic.mean() , axis = 0 , inplace =True)

C:\Users\HP.SXS04\AppData\Local\Temp\ipykernel_1344\2385400230.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prt2.physic.fillna(df_prt2.physic.mean() , axis = 0 , inplace =True)

In [75]:
df_prt2.isnull().sum()

dribbling                     0
defending                     0
physic                        0
attacking_crossing            0
attacking_finishing           0
attacking_heading_accuracy    0
attacking_short_passing       0
attacking_volleys             0
skill_dribbling               0
skill_curve                   0
skill_fk_accuracy             0
skill_long_passing            0
skill_ball_control            0
movement_acceleration         0
movement_sprint_speed         0
movement_agility              0
movement_reactions            0
movement_balance              0
power_shot_power              0
power_jumping                 0
power_stamina                 0
power_strength                0
power_long_shots              0
mentality_aggression          0
mentality_interceptions       0
mentality_positioning         0
mentality_vision              0
mentality_penalties           0
dtype: int64

In [76]:
## data part(3)
df_prt3 = df[['mentality_composure', 'defending_marking_awareness',
       'defending_standing_tackle', 'defending_sliding_tackle',
       'goalkeeping_diving', 'goalkeeping_handling', 'goalkeeping_kicking',
       'goalkeeping_positioning', 'goalkeeping_reflexes', 'goalkeeping_speed',
       'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram','lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm']]

In [77]:
df_prt3.isnull().sum()

mentality_composure             29260
defending_marking_awareness         0
defending_standing_tackle           0
defending_sliding_tackle            0
goalkeeping_diving                  0
goalkeeping_handling                0
goalkeeping_kicking                 0
goalkeeping_positioning             0
goalkeeping_reflexes                0
goalkeeping_speed              116625
ls                                  0
st                                  0
rs                                  0
lw                                  0
lf                                  0
cf                                  0
rf                                  0
rw                                  0
lam                                 0
cam                                 0
ram                                 0
lm                                  0
lcm                                 0
cm                                  0
rcm                                 0
rm                                  0
lwb                                 0
ldm                                 0
dtype: int64

In [78]:
df_prt3.isnull().mean()*100

mentality_composure            22.252812
defending_marking_awareness     0.000000
defending_standing_tackle       0.000000
defending_sliding_tackle        0.000000
goalkeeping_diving              0.000000
goalkeeping_handling            0.000000
goalkeeping_kicking             0.000000
goalkeeping_positioning         0.000000
goalkeeping_reflexes            0.000000
goalkeeping_speed              88.695632
ls                              0.000000
st                              0.000000
rs                              0.000000
lw                              0.000000
lf                              0.000000
cf                              0.000000
rf                              0.000000
rw                              0.000000
lam                             0.000000
cam                             0.000000
ram                             0.000000
lm                              0.000000
lcm                             0.000000
cm                              0.000000
rcm                             0.000000
rm                              0.000000
lwb                             0.000000
ldm                             0.000000
dtype: float64

In [79]:
df.mentality_composure.describe()

count    102229.000000
mean         57.688934
std          12.453684
min           3.000000
25%          50.000000
50%          59.000000
75%          66.000000
max          96.000000
Name: mentality_composure, dtype: float64

In [80]:
df.mentality_composure.fillna(df.mentality_composure.mean() , axis = 0 , inplace =True)

In [81]:
df_prt3.mentality_composure.fillna(df_prt3.mentality_composure.mean() , axis = 0 , inplace =True)

C:\Users\HP.SXS04\AppData\Local\Temp\ipykernel_1344\3325233523.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prt3.mentality_composure.fillna(df_prt3.mentality_composure.mean() , axis = 0 , inplace =True)

In [82]:
df.goalkeeping_speed .fillna(df.goalkeeping_speed .mean() , axis = 0 , inplace =True)

In [83]:
df_prt3.goalkeeping_speed .fillna(df_prt3.goalkeeping_speed .mean() , axis = 0 , inplace =True)

C:\Users\HP.SXS04\AppData\Local\Temp\ipykernel_1344\3597964151.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prt3.goalkeeping_speed .fillna(df_prt3.goalkeeping_speed .mean() , axis = 0 , inplace =True)

In [84]:
df_prt3.isnull().sum()

mentality_composure            0
defending_marking_awareness    0
defending_standing_tackle      0
defending_sliding_tackle       0
goalkeeping_diving             0
goalkeeping_handling           0
goalkeeping_kicking            0
goalkeeping_positioning        0
goalkeeping_reflexes           0
goalkeeping_speed              0
ls                             0
st                             0
rs                             0
lw                             0
lf                             0
cf                             0
rf                             0
rw                             0
lam                            0
cam                            0
ram                            0
lm                             0
lcm                            0
cm                             0
rcm                            0
rm                             0
lwb                            0
ldm                            0
dtype: int64

In [85]:
df_prt4 = df[['cdm', 'rdm', 'rwb', 'lb',
       'lcb', 'cb', 'rcb', 'rb', 'gk']]

In [86]:
df_prt4.isnull().sum()

cdm    0
rdm    0
rwb    0
lb     0
lcb    0
cb     0
rcb    0
rb     0
gk     0
dtype: int64

In [87]:
## now after i handled all the missing data we will start to explore data and start feautre engineering process

## feture engineering

In [88]:
df.columns

Index(['overall', 'potential', 'value_eur', 'wage_eur', 'age', 'height_cm',
       'weight_kg', 'club_name', 'league_name', 'league_level',
       'club_position', 'club_jersey_number', 'club_joined',
       'club_contract_valid_until', 'nationality_name', 'preferred_foot',
       'weak_foot', 'skill_moves', 'international_reputation', 'work_rate',
       'release_clause_eur', 'pace', 'shooting', 'passing', 'dribbling',
       'defending', 'physic', 'attacking_crossing', 'attacking_finishing',
       'attacking_heading_accuracy', 'attacking_short_passing',
       'attacking_volleys', 'skill_dribbling', 'skill_curve',
       'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control',
       'movement_acceleration', 'movement_sprint_speed', 'movement_agility',
       'movement_reactions', 'movement_balance', 'power_shot_power',
       'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots',
       'mentality_aggression', 'mentality_interceptions',
       'mentality_positioning', 'mentality_vision', 'mentality_penalties',
       'mentality_composure', 'defending_marking_awareness',
       'defending_standing_tackle', 'defending_sliding_tackle',
       'goalkeeping_diving', 'goalkeeping_handling', 'goalkeeping_kicking',
       'goalkeeping_positioning', 'goalkeeping_reflexes', 'goalkeeping_speed',
       'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram',
       'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb',
       'lcb', 'cb', 'rcb', 'rb', 'gk'],
      dtype='object')

In [89]:
## i can extract new feature (loyality ) as it indicate how many year did player stay in club and if it will make a difference in the value or not 
df.club_joined = df.club_joined.astype('datetime64[ns]')

In [90]:
df.club_joined = df.club_joined.dt.year

In [91]:
df['loyality'] = df.club_contract_valid_until - df.club_joined

In [92]:
df.loyality.describe()

count    131489.000000
mean          4.016229
std           2.512183
min           0.000000
25%           2.000000
50%           3.000000
75%           5.000000
max          30.000000
Name: loyality, dtype: float64

In [93]:
df.work_rate.value_counts()

Medium/Medium    73024
High/Medium      22128
Medium/High      11857
High/High         6312
Medium/Low        6298
High/Low          5146
Low/Medium        3290
Low/High          3165
Low/Low            269
Name: work_rate, dtype: int64

In [94]:
#handle last 10 columns as they nedd to remove + from numbers
df.select_dtypes('O').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131489 entries, 0 to 142078
Data columns (total 33 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   club_name         131489 non-null  object
 1   league_name       131489 non-null  object
 2   club_position     131489 non-null  object
 3   nationality_name  131489 non-null  object
 4   preferred_foot    131489 non-null  object
 5   work_rate         131489 non-null  object
 6   ls                131489 non-null  object
 7   st                131489 non-null  object
 8   rs                131489 non-null  object
 9   lw                131489 non-null  object
 10  lf                131489 non-null  object
 11  cf                131489 non-null  object
 12  rf                131489 non-null  object
 13  rw                131489 non-null  object
 14  lam               131489 non-null  object
 15  cam               131489 non-null  object
 16  ram               131489 non-null  object
 17  lm                131489 non-null  object
 18  lcm               131489 non-null  object
 19  cm                131489 non-null  object
 20  rcm               131489 non-null  object
 21  rm                131489 non-null  object
 22  lwb               131489 non-null  object
 23  ldm               131489 non-null  object
 24  cdm               131489 non-null  object
 25  rdm               131489 non-null  object
 26  rwb               131489 non-null  object
 27  lb                131489 non-null  object
 28  lcb               131489 non-null  object
 29  cb                131489 non-null  object
 30  rcb               131489 non-null  object
 31  rb                131489 non-null  object
 32  gk                131489 non-null  object
dtypes: object(33)
memory usage: 34.1+ MB

In [95]:
 l = ['ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram',
       'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb',
       'lcb', 'cb', 'rcb', 'rb', 'gk']

In [96]:
for i in l :
    df[i]= df[i].str.split("-").str[0]

In [97]:
for i in l :
    df[i]= df[i].str.split("+").str[0]

In [98]:
## this function constructed to show if any columns have a nan value after spliting the data 

for i in l :
    if df[i].isnull().sum() == 0 :
        pass
    else :
        print( i  , "has nan value")

lw has nan value
lf has nan value
cf has nan value
rf has nan value
rw has nan value
gk has nan value

In [99]:
##   i will fill the missing value in [lw,lf,cf,cf .... ] with mean but i dont have the mean because Not all values are int so i cant use df.lw.mean() so i replaced the NAN values with 0 
## then i will calculate the mean of all wanted columns then i fill the nan values with 
##df.lw.mean() == 54
##df.lf.mean() == 54
##df.cf.mean() == 54
##df.rf.mean() == 54
##df.rw.mean() == 54
##df.gk.mean() == 19

In [100]:
df.lw.fillna('54', axis = 0 , inplace = True)

In [101]:
df.lf.fillna('54', axis = 0 , inplace = True)

In [102]:
df.cf.fillna('54', axis = 0 , inplace = True)

In [103]:
df.rf.fillna('54', axis = 0 , inplace = True)

In [104]:
df.rw.fillna('54', axis = 0 , inplace = True)

In [105]:
df.gk.fillna('19', axis = 0 , inplace = True)

In [106]:
for i in l :
    df[i]= df[i].astype(int)

In [107]:
df

,overall,potential,value_eur,wage_eur,age,height_cm,weight_kg,club_name,league_name,league_level,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,loyality
0,93,95,100500000.0,550000.0,27,169,67,FC Barcelona,Spain Primera Division,1.0,...,62,62,62,54,45,45,45,54,15,14.0
1,92,92,79000000.0,375000.0,29,185,80,Real Madrid CF,Spain Primera Division,1.0,...,63,63,63,57,52,52,52,57,16,9.0
2,90,90,54500000.0,275000.0,30,180,80,FC Bayern München,German 1. Bundesliga,1.0,...,64,64,64,55,46,46,46,55,14,8.0
3,90,90,52500000.0,275000.0,32,195,95,Paris Saint-Germain,French Ligue 1,1.0,...,65,65,61,56,55,55,55,56,17,4.0
4,90,90,63500000.0,300000.0,28,193,92,FC Bayern München,German 1. Bundesliga,1.0,...,40,40,36,36,38,38,38,36,87,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142074,47,52,70000.0,1000.0,22,180,64,Wuhan FC,Chinese Super League,1.0,...,46,46,48,48,46,46,46,48,15,0.0
142075,47,59,110000.0,500.0,19,175,70,Derry City,Rep. Ireland Airtricity League,1.0,...,46,46,49,48,44,44,44,48,14,0.0
142076,47,55,100000.0,500.0,21,178,72,Finn Harps,Rep. Ireland Airtricity League,1.0,...,46,46,47,47,45,45,45,47,12,0.0
142077,47,60,110000.0,500.0,19,173,66,Finn Harps,Rep. Ireland Airtricity League,1.0,...,29,29,33,32,26,26,26,32,15,0.0
142078,47,60,110000.0,500.0,19,167,61,NorthEast United FC,Indian Super League,1.0,...,44,44,45,45,41,41,41,45,16,4.0

In [108]:
df.select_dtypes("O").info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131489 entries, 0 to 142078
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   club_name         131489 non-null  object
 1   league_name       131489 non-null  object
 2   club_position     131489 non-null  object
 3   nationality_name  131489 non-null  object
 4   preferred_foot    131489 non-null  object
 5   work_rate         131489 non-null  object
dtypes: object(6)
memory usage: 7.0+ MB

In [109]:
df.work_rate.nunique()

9

In [110]:
df.drop('club_name' , axis = 1 , inplace= True)

# Handle categorical data

In [111]:
df = pd.get_dummies(columns= ['preferred_foot' ] , data = df)

In [112]:
encoder = BinaryEncoder(cols=[ 'league_name', 'club_position' , 'nationality_name' , 'work_rate'])

In [113]:
df=encoder.fit_transform(df)

In [114]:
df.tail()

,overall,potential,value_eur,wage_eur,age,height_cm,weight_kg,league_name_0,league_name_1,league_name_2,...,rwb,lb,lcb,cb,rcb,rb,gk,loyality,preferred_foot_Left,preferred_foot_Right
142074,47,52,70000.0,1000.0,22,180,64,1,0,1,...,48,48,46,46,46,48,15,0.0,0,1
142075,47,59,110000.0,500.0,19,175,70,1,0,0,...,49,48,44,44,44,48,14,0.0,0,1
142076,47,55,100000.0,500.0,21,178,72,1,0,0,...,47,47,45,45,45,47,12,0.0,0,1
142077,47,60,110000.0,500.0,19,173,66,1,0,0,...,33,32,26,26,26,32,15,0.0,0,1
142078,47,60,110000.0,500.0,19,167,61,1,1,0,...,45,45,41,41,41,45,16,4.0,0,1

## Scaling data

In [115]:
scaler = MinMaxScaler()

In [116]:
numerical_cols = list(df.select_dtypes(include=['int64', 'float64','int32']).columns)

In [117]:
numerical_cols.remove("value_eur")

In [118]:
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

## split data

In [119]:
x= df.drop('value_eur' , axis = 1 )

In [120]:
y = df['value_eur']

In [121]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [122]:
lr = LinearRegression()
lr.fit(x_train, y_train)

print('Training Score: ', lr.score(x_train, y_train))
print('Testing Score: ', lr.score(x_test, y_test))
print('RMSE: ', np.sqrt(mean_squared_error(y_test, lr.predict(x_test))))

Training Score:  0.8952386911034326
Testing Score:  0.8874237295948672

NameError: name 'np' is not defined

In [ ]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=100, random_state=42)

rf.fit(x_train, y_train)

print('Training Score: ', rf.score(x_train, y_train))
print('Testing Score: ', rf.score(x_test, y_test))
print('RMSE: ', np.sqrt(mean_squared_error(y_test, rf.predict(x_test))))

Training Score:  0.9948328612917289
Testing Score:  0.9616248737867253
RMSE:  1122068.0764198108